.example-form {
    display: flex;
    flex-direction: column;
    padding: 10px; 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    width: 100%;
}

.form-row {
    margin-bottom: 10px;
    width: 100%;
}

.buttons-row {
    display: flex;
    justify-content: space-around;
}